<script>
$(document).ready(function() {
  $("#add_link").click(function() {
      $("#addbox").overlay().load();
  });

    // select the overlay element - and "make it an overlay"
  $("#addbox").overlay({

    // custom top position
    top: 50,

    // some mask tweaks suitable for addbox-looking dialogs
    mask: {

    // you might also consider a "transparent" color for the mask
    color: '#fff',

    // load mask a little faster
    loadSpeed: 200,

    // very transparent
    opacity: 0.5
    },

    // disable this for modal dialog-type of overlays
    closeOnClick: true,

    // load it immediately after the construction
    load: false

    });
    });
</script>

<!-- nimm2 dialog -->
<div id="addbox">
  <div>
    <h2>Add a new link</h2>
    <form action="/add" method="POST">
      <label id="title"><b>Title: </b></label><input type="text" id="title" name="title"></input><br />
      <label id="url"><b>URL: </b></label><input type="text" id="url" name="url"></input><br />
      <label id="category"><b>Category:</b></label>
        <select id="category" name="category">
          <% categories.each do |cat| %>
          <option value="<%= cat[:id] %>"><%= cat[:name] %></option>
          <%end %>
        </select> <a href="/category">(new category)</a><br/>
      <input type="submit" value="Submit">
    </form>
    <button class="close"> Close </button>
  </div>
</div>

<!-- Navigation -->
<div id="navigation" align="left" width="100%">
<nav>
  <ul>
    <% categories.each do |cat| %>
      <li><a href="#"><%= cat[:name] %></a>
        <ul>
        <% sites.each do |site| %>
          <% if site[:category_id] == cat[:id] %>
            <li><a href="<%= site[:url] %>" target="_lol"><%= site[:title] %></a></li>
          <% end %>
        <% end %>
        </ul>
      </li>
    <% end %>
    <li><a href="#add" id="add_link">Add Link</a></li>
  </ul>
</nav>
<br><br>
</div>
<!-- Body -->
<iframe id="lol" name="_lol" frameborder=0 scrolling=auto></iframe>
